<div id="editpagewrapper">
<%= form_for(@user, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div id="editing-navbar">
    <div class="format-navbar" id="edit-email"><%= f.email_field :email %></div>
    <div class="format-navbar" id="edit-username"><%= f.text_field :username %></div>
    <div class="format-navbar" id="edit-pw"><%= f.password_field :password, autocomplete: "off", placeholder: "New Password" %></div>
    <div class="format-navbar" id="edit-pw-confirm"><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %></div>
    <div class="format-navbar" id="edit-submit"><%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password" %></div>
    <div class="format-navbar" id="edit-sub-button"><%= f.submit "Update", id: "edit-sub-btn", class: "btn btn-success" %></div>
  </div>
  <%= devise_error_messages! %>

  <div id="wrapper" style="margin-top: 15px;">
  <div id="homepage">
      <div id="page-wrapper">
          <div class="row">
            <i class="fa fa-pencil fa-4x"></i>
            <%= image_tag(@user.ava, id: "avatar", class: "col-lg-3 col-md-4 col-sm-4 col-xs-4") %>
              <div id='user-favorites-div'>
                <%= render partial: 'users/user_favorite_games', locals: { user: @user, url: :edit } %>
              </div>
              <div id='game-modal-div'>
                  <!-- Place holder for the modal data -->
              </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
              <h1>About Me</h1>
              <div><%= f.text_area :about, placeholder: @user.about, :maxlength => 200, id: "edit-aboutfield", rows: 5 %></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
              <h1>My Links</h1>
              <div class="col-xs-12">
                <div><%= f.text_field :facebook_url, placeholder: "Facebook URL" %></div>
                <div><%= f.text_field :twitter_url, placeholder: "Twitter URL" %></div>
                <div><%= f.text_field :website_url, placeholder: "Website URL" %></div>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <div class="page-header"></div>
          <div class="row">
              <div class="col-lg-8 col-sm-6 col-xs-12">
                <% if @trophies.length > 0 %>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <i class="fa fa-bar-chart-o fa-fw"></i> Trophy Case
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                      <div class="row">
                        <% @trophies.each do |trophy| %>
                          <div class="col-xs-12">
                            <% if trophy.uniq_id == 1 %>
                              Perfect Score in <%= Game.find(trophy.game_id).name %> with a <%= UserGameLog.where(game_id: trophy.game_id, user_id: @user).reverse.first.score %>
                            <% end %>
                            <% if trophy.uniq_id == 2 %>
                              High Score: <%= Game.find(trophy.game_id).name %> <%= UserGameLog.where(game_id: trophy.game_id, user_id: @user).reverse.first.score %>
                            <% end %>
                            <% if trophy.uniq_id == 3 %>
                              Played all Games!!
                            <% end %>
                          </div>
                        <% end %>
                        <!-- /.col-lg-4 (nested) -->
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
                <% end %>
                <!-- /.panel -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Game Play History
                    <div class="pull-right">
                      <a href="<%= '/games/' + @rng_game.to_s %>" class="btn btn-default btn-xs">Random Game</a>
                    </div>
                  </div>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <% if @history.length > 0 %>
                          <% @history.first(10).each do |historylog| %>
                            <%= historylog %></br>
                          <% end %>
                        <% else %>
                          <% if current_user.id == @user.id %>
                            <p>You haven't played any games yet!</p>
                            <p>Visit the <a href="<%= games_path %>">Games Listing Page</a> to check out some you may enjoy!</p>
                          <% else %>
                            <p>This user hasn't played any games yet. Leave them a shout and challenge them!</p>
                          <% end %>
                        <% end %>
                      </div>
                      <!-- /.col-lg-4 (nested) -->
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
              </div>
              <!-- /.col-lg-8 -->
              <div class="col-lg-4 col-sm-6 col-xs-12">
                <% if user_signed_in? && current_user.username == @user.username %>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <i class="fa fa-bell fa-fw"></i> Notifications Panel
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                      <% if @unread.length > 0 || @display.length > 0 %>
                        <div class="list-group">
                          <% @unread.first(5).each do |notify| %>
                          <a href="<%= notifications_path %>" class="list-group-item" style="height: 50px;background:lemonchiffon;">
                            <i class="fa fa-<%=notify.image_convert%> fa-fw"></i> <%= notify.title %>
                            <span class="pull-right text-muted small"><em><%= notify.formatted_ago %></em></span>
                          </a>
                          <% end %>
                          <% @display.each do |notify| %>
                            <a href="<%= notifications_path %>" class="list-group-item" style="height: 50px;">
                              <i class="fa fa-<%=notify.image_convert%> fa-fw"></i> <%= notify.title %>
                              <span class="pull-right text-muted small"><em><%= notify.formatted_ago %></em></span>
                            </a>
                          <% end %>
                        </div>
                        <!-- /.list-group -->
                        <a href="<%= notifications_path %>" class="btn btn-default btn-block">View All Alerts</a>
                      <% else %>
                        <p>You have no Notifications. :(</p>
                        <p>Visit <a href="<%= '/games/' + @rng_game.to_s %>">any game</a> to get your first notification!</p>
                      <% end %>
                    </div>
                    <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
                <% end %>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <i class="fa fa-comments fa-fw"></i>
                          Shoutbox
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                          <ul class="chat" id="shoutbox">
                        <% if @user.shouts.length > 0 %>
                            <% @user.shouts.reverse.first(5).each_with_index do |shout, pos| %>
                              <%= render :partial => 'users/shoutmessage', locals: {shoutIndex: shout, pos: pos, url: "edit"} %>
                            <% end %>
                          </ul>
                          <a href="#" class="btn btn-default btn-block">View All Shouts</a>
                        <% else %>
                          <% if current_user.id == @user.id %>
                            <p>You have no shouts. :(</p>
                            <p>Try leaving a shout on somebody else's profile to make some friends!</p>
                          <% else %>
                            <p>This user doesn't have any shouts yet! Leave them their first!</p>
                          <% end %>
                        <% end %>
                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!-- /.panel .chat-panel -->
              </div>
              <!-- /.col-lg-4 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /#page-wrapper -->
  </div>
  <!-- #homepage -->
  </div>
  <!-- /#wrapper -->
<% end %>
</div>
<div id="footer">
  <%= button_to "Cancel my account", registration_path(resource_name),
                data: { confirm: "Do you really want to deactivate your account?\n
                                  This is permanent and cannot be undone." },
                method: :delete,
                id: "edit-delete-btn",
                class: "btn btn-danger" %>
</div>
