<div id="editpagewrapper">
<%= form_for(@user, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div id="edit-header">
  <div id="editing-navbar">
    <div class="format-navbar" id="edit-email"><%= f.email_field :email %></div>
    <div class="format-navbar" id="edit-username"><%= f.text_field :username %></div>
    <div class="format-navbar" id="edit-pw"><%= f.password_field :password, autocomplete: "off", placeholder: "New Password" %></div>
    <div class="format-navbar" id="edit-pw-confirm"><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %></div>
    <div class="format-navbar" id="edit-submit"><%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password" %></div>
    <div class="format-navbar" id="edit-sub-button"><%= f.submit "Update", id: "edit-sub-button", class: "btn btn-success" %></div>
  </div>
</div>
  <%= devise_error_messages! %>

  <div id="wrapper" style="margin-top: 15px;">
    <div id="homepage">
      <div id="page-wrapper">
        <div class="row"><!-- Underneath -->
          <div class="col-md-4 col-sm-6 col-xs-12"><!-- Left Column -->
            <h1 class="page-header"><%= @user.username %></h1>
            <i class="fa fa-pencil fa-4x"></i>
            <%= image_tag(@user.ava, id: "avatar", data: {toggle: "modal", target: ".bs-example-modal-lg"}) %>
            <div id="avatarEditModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <%= link_to image_tag('defAvaOne.jpg', id: "image"), changeAva_path(0), remote: true %>
                  <%= link_to image_tag('defAvaTwo.jpg', id: "image"), changeAva_path(1), remote: true  %>
                  <%= link_to image_tag('defAvaThree.jpg', id: "image"), changeAva_path(2), remote: true  %>
                  <%= link_to image_tag('defAvaFour.jpg', id: "image"), changeAva_path(3), remote: true  %>
                  <%= link_to image_tag('defAvaFive.jpg', id: "image"), changeAva_path(4), remote: true  %>
                  <%= link_to image_tag('defAvaSix.jpg', id: "image"), changeAva_path(5), remote: true  %>
                  <%= link_to image_tag('defAvaSeven.jpg', id: "image"), changeAva_path(6), remote: true  %>
                  <%= link_to image_tag('defAvaEight.jpg', id: "image"), changeAva_path(7), remote: true  %>
                </div>
              </div>
            </div>
            <h1 id="coin-inline">
              <%= image_tag('spinningcoin.gif', id: "coin", size: "32x32") %>
              <span id="coin_on_page"><%= number_with_delimiter( current_user.coin ) %></span>
            </h1>
            <div class="row"> <!-- About -->
              <h1>About Me</h1>
              <div><%= f.text_area :about, placeholder: @user.about, :maxlength => 200, id: "edit-aboutfield", rows: 5 %></div>
            </div>
            <!-- /About -->
            <div class="row"><!-- Links -->
             <h1>My Links</h1>

             <div class="col-xs-12">
               <div><%= f.text_field :facebook_url, placeholder: "Facebook URL" %></div>
               <div><%= f.text_field :twitter_url, placeholder: "Twitter URL" %></div>
               <div><%= f.text_field :website_url, placeholder: "Website URL" %></div>
             </div>
            </div>
            <br/>
            <!-- /Links -->
            <div class="row"><!-- Following -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-users"></i> Unfollow
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                  <% if @user.follow_count > 0 %>
                    <% @user.following_users.each do |user| %>
                        <%= link_to unfollow_path(id: user.id), method: 'delete', remote: true do %>
                          <%= image_tag user.ava, class: "shout-image kill-it" %>
                          <p class="text-muted">Click to unfollow</p>
                        <% end %>
                    <% end %>
                  <% else %>
                    <% if current_user == @user %>
                      <p>You haven't followed anyone yet!</p>
                      <p>Visit another users profile to follow them.</p>
                    <% else %>
                      <p>This user hasn't followed anyone yet!</p>
                    <% end %>
                  <% end %>
                </div>
                <!-- /.panel-body -->
              </div>
              <!-- /panel-default -->
            </div>
            <!-- Following -->
          </div>
          <!-- /Left Column -->
          <div class="col-md-8 col-sm-6 col-xs-12"> <!-- Right Column -->
            <div id="games-title">
              <h1>My Games</h1>
              <span class="text-muted">Click to edit!</span>
            </div>
            <!-- <div class="page-header col-xs-12"></div> -->
            <div id='user-favorites-div' class="row"> <!-- Games -->
              <%= render partial: 'users/user_favorite_games', locals: { user: @user, url: :edit } %>
            </div>
            <div id='game-modal-div'>
              <!-- Place holder for the modal data -->
            </div>
            <!-- /Game Row -->
            <div class="row"> <!-- Trophies/History - Shouts -->
              <div class="col-md-6 col-xs-12">
                <% if @trophies.length > 0 %> <!-- Trophies -->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <i class="fa fa-bar-chart-o fa-fw"></i> Trophy Case
                    </div>
                    <div class="panel-body">
                      <% @trophies.each do |trophy| %>
                        <div class="col-xs-12">
                          <ul class="chat">
                            <%= render :partial => 'trophies/trophycase', locals: {trophy: trophy} %>
                          </ul>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <div class="panel panel-default"><!-- History -->
                  <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Play History
                  </div>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <ul class="chat">
                          <%= render :partial => 'users/history', locals: {passhistory: @history} %>
                        </ul>
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.panel-body -->
                </div>
                <!-- /History -->
              </div>
              <!-- /Trophies -->
              <div class="col-md-6 col-xs-12"><!-- Shouts -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <i class="fa fa-comments fa-fw"></i>
                    Shoutbox
                  </div>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                    <% if @user.shouts.length > 0 %>
                      <ul class="chat">
                        <% @user.shouts.reverse.first(5).each_with_index do |shout, pos| %>
                          <%= render :partial => 'users/shoutmessage', locals: {shoutIndex: shout, pos: pos, url: "edit"} %>
                        <% end %>
                      </ul>
                      <a href="/notifications/showalerts" class="btn btn-success btn-block btn-gh">View All Shouts</a>
                    <% else %>
                      <% if current_user.id == @user.id %>
                        <p>You have no shouts. :(</p>
                        <p>Try leaving a shout on somebody else's profile to make some friends!</p>
                      <% else %>
                        <p>This user doesn't have any shouts yet! Leave them their first!</p>
                      <% end %>
                    <% end %>
                  </div>
                <!-- /.panel-body -->
                </div>
                <!-- /panel-default -->
              </div>
              <!-- /Shouts -->
            </div>
            <!-- /Trophies-History Shouts -->
          </div>
          <!-- /Right Column -->
        </div>
        <!-- /Underneath -->
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- #homepage -->
  </div>
  <!-- /#wrapper -->
<% end %>
</div>
<div id="footer">
  <%= button_to "Cancel my account", registration_path(resource_name),
                data: { confirm: "Do you really want to deactivate your account?\nThis is permanent and cannot be undone." },
                method: :delete,
                id: "edit-delete-btn",
                class: "btn btn-danger" %>
</div>
