<%= form_for(@user, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div id="editing-navbar">
    <div class="format-navbar" id="edit-email"><%= f.email_field :email %></div>
    <div class="format-navbar" id="edit-username"><%= f.text_field :username %></div>
    <div class="format-navbar" id="edit-pw"><%= f.password_field :password, autocomplete: "off", placeholder: "New Password" %></div>
    <div class="format-navbar" id="edit-pw-confirm"><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %></div>
    <div class="format-navbar" id="edit-submit"><%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password" %></div>
    <div class="format-navbar" id="edit-sub-button"><%= f.submit "Update", id: "edit-sub-btn", class: "btn btn-success" %></div>
    <!-- <input class="btn btn-success" id="edit-sub-btn" type="submit" value="Update"> -->
  </div>

  <%= devise_error_messages! %>
<% end %>

<%= button_to "Cancel my account", registration_path(resource_name),
              data: { confirm: "Do you really want to deactivate your account?\n
                                This is permanent and cannot be undone." },
              method: :delete,
              id: "edit-delete-btn",
              class: "btn btn-danger" %>
