<div id="page-body" width="100%">

  <div id="columnOne">
    <%= image_tag("samurai.jpeg", id: "avatar") %>
<div id="user-body" width="100%">
  <div id="navbar"></div>
  <!-- Render nav bar -->
  <div id="user-columnOne">
    <%= image_tag("samurai.jpeg", id: "user-avatar") %>
    <div id="user-about">
      <h1>About Me</h1>
      <p>Hello this is the about me and I talk
        about myself and what sports I like.</p>
      <a href="#">This is my website.</a><br/>
      <a href="#">This is my website.</a><br/>
      <a href="#">This is my website.</a><br/>
      <a href="#">This is my website.</a>
    </div>
    <!-- <div id="trophiescase"></div> -->

    <!-- <div id="trophiescase"></id> -->
  </div>

  <div id="clicksidebar">
    <div id="sidebaricon"><i class="fa fa-bars fa-lg fa-rotate-90 fa-2x" style=""></i></div>
  </div>

  <div id="columnThree">
    Just some filler to take up room and be a place holder for now.
  </div>
    <div id="fav_col">
      <div id="favs_box">
          <!-- These ordered to Favorite select first, then most played. Limit to 5. -->
          <li><%= image_tag("bowling.jpeg", id: "user-fav") %></li>
          <li><%= image_tag("sun.png", id: "user-fav") %></li>
          <li><%= image_tag("snow.png", id: "user-fav") %></li>
          <li><%= image_tag("leaf.png", id: "user-fav") %></li>
          <li><%= image_tag("moon.png", id: "user-fav") %></li>
      </div>
    </div>
  <div id="columnTwo">

  </div>

  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
