<% pos = @pos if @pos %>
<%# binding.pry %>
<% shout = shoutIndex[pos] %>
<% user = User.find(shout.sent_from_id) %>
  <div class="shout-wrapper">
<% if pos.odd? %>
    <li class="left clearfix">
      <span class="chat-img pull-left">
<% else %>
    <li class="right clearfix">
      <span class="chat-img pull-right">
<% end %>
        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
      </span>
      <div class="chat-body clearfix">
        <div class="header">
<% if pos.odd? %>
          <strong class="primary-font"><%= user.username %></strong>
          <small class="pull-right text-muted">
              <i class="fa fa-clock-o fa-fw"></i> <%= shout.formatted_ago %></small>
<% else %>
            <strong class="pull-right primary-font"><%= user.username %></strong>
            <small class="pull-left text-muted">
                <i class="fa fa-clock-o fa-fw"></i> <%= shout.formatted_ago %></small>
<% end %>
        </div>
        <p style="height:100px; width: 100%; overflow: hidden;"><%= shout.message %></p>
      </div>
    </li>
  </div>
