<% user = User.find(shoutIndex.sent_from_id) %>
  <div class="shout-wrapper" id="first-shout">
<% if pos.even? %>
    <li class="left clearfix">
      <span class="chat-img pull-left">
<% else %>
    <li class="right clearfix">
      <span class="chat-img pull-right">
<% end %>
      <div class='shout-image-wrapper'>
        <%= image_tag user.ava, class: 'shout-image' %>
      </div>
      </span>
      <div class="chat-body clearfix">
        <div class="header">
<% if pos.even? %>
          <strong class="primary-font"><%= user.username %></a></strong>
          <small class="pull-right text-muted">
              <i class="fa fa-clock-o fa-fw"></i> <%= shoutIndex.formatted_ago %></small>
<% else %>
            <strong class="pull-right primary-font"><%= user.username %></a></strong>
            <small class="pull-left text-muted">
                <i class="fa fa-clock-o fa-fw"></i> <%= shoutIndex.formatted_ago %></small>
<% end %>
        </div>
        <p style="height:75px; width: 100%; overflow: hidden;"><%= shoutIndex.message %></p>
      </div>
    </li>
  </div>
