<% user.favorite_games.each do |game| %>
  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
    <div class="hmpg-favbtn">
      <% if game != 0 %>
        <% link_url = url == :show ? game_info_path(game) : game_edit_path(game) %>
        <%= link_to link_url, remote: true do %>
          <%= image_tag(game.ava, id: "favs") %>
        <% end %>
      <% else %>
        <% link_url = url == :show ? edit_path : game_edit_path(game.to_i + 1) %>
        <%= link_to link_url, remote: true do %>
          <% if current_user.username == user.username %>
            <%= image_tag('add.png', id: "favs") %>
          <% else %>
            <%= image_tag('missing.png', id: "favs") %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
