<div id="pop-container">
<% Notification.all.each do |notify| %>
  <% alertid = Notification.find(notify) %>
  <%# if current_user.id && (alertid.isRead) %>
      <div class='popup-notification' id="popup-id">
        <!-- alertid.game_id -->
    <%= Game.find(3).name %><br/>
    <%= alertid.message %></br>
    You won: <%= alertid.gold %>
    <% alertid.update_attribute(:isRead, true) %>
      </div>
  <%# end %>
<% end %>
  </div>
<div id="page-body" width="100%">
  <div id="columnOne">
    <span id="namedisp"><%= @user.username.capitalize %></span>
    <%= image_tag(@user.avatar.url, id: "avatar") %>
    <% if user_signed_in? && current_user.username == @user.username %>
      <span id="num-for-coin">
        <%= image_tag('spinningcoin.gif', id: "coin-on-page", size: "24x24") %>
        <%= number_with_delimiter( current_user.coin ) %>
      </span>
    <% end %>
    <div id="user-about">
      <h1>About Me</h1>
      <p><%= @user.about %></p>
      <a href="#" class="fa fa-facebook-square"> This is my website.</a><br/>
      <a href="#" class="fa fa-github"> This is my website.</a><br/>
      <a href="#" class="fa fa-google"> This is my website.</a><br/>
      <a href="#" class="fa fa-linkedin-square"> This is my website.</a><br/>
      <a href="#" class="fa fa-slack"> This is my website.</a><br/>
      <a href="#" class="fa fa-reddit"> This is my website.</a><br/>
      <a href="#" class="fa fa-tumblr-square"> This is my website.</a><br/>
      <a href="#" class="fa fa-twitter"> This is my website.</a><br/>
      <a href="#">This is my website.</a>
    </div>
    <!-- <div id="trophiescase"></div> -->
  </div>

  <div id="clicksidebar">
    <div id="sidebaricon"><i class="fa fa-bars fa-lg fa-rotate-90 fa-2x" style=""></i></div>
  </div>

  <div id="columnThree">
    Just some filler to take up room and be a place holder for now.
  </div>
    <div id="fav_col">
      <div id="favs_box">
          <!-- These ordered to Favorite select first, then most played. Limit to 5. -->
          <% 5.times do |fav| %>
            <% if @user.favorites.length > fav %>
              <li>
                <%= link_to game_info_path(id: @user.favorites[fav]), remote: true do  %>
                  <span class="gamebutton" id="<%= @user.favorites[fav] %>">
                    <%= image_tag(Game.find(@user.favorites[fav]).ava, id: "user-fav") %>
                  </span>
                <% end %>
              </li>
            <% else %>
              <li><a href="./edit"><%= image_tag('missingicon.png', id: "user-fav") %></a></li>
            <% end %>
          <% end %>
      </div>
    </div>
  <div id="columnTwo">
    <div id='game-modal-div'>
        <!-- Place holder for the modal data -->
    </div>

    </div>

  </div>
</div>
