<%= javascript_tag do %>
  window.coinTo = '<%= j (number_with_delimiter(@user.coin + @user.coinTo)).to_s %>';
<% end %>

<div id="wrapper">
  <div id="homepage">
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
          <h1 class="page-header"><%= @user.username %></h1>
        </div>
        <% if user_signed_in? && current_user.username == @user.username %>
          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
            <h1 id="coin-inline">
              <%= image_tag('spinningcoin.gif', id: "coin", size: "32x32") %>
              <canvas id="coinupdater" width=150 height=300></canvas>
              <span id="coin_on_page"><%= number_with_delimiter( current_user.coin ) %></span>
            </h1>
          </div>
          <!-- /.col-lg-12 -->
        <% end %>
      </div>
      <!-- /.row -->
      <div class="row">
        <%= image_tag(@user.ava, id: "avatar", class: "col-sm-4 col-xs-9") %>
        <div id='user-favorites-div'>
          <%= render partial: 'user_favorite_games', locals: { user: @user, url: :show } %>
        </div>
        <div id='game-modal-div'>
          <!-- Place holder for the modal data -->
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
          <h1>About Me</h1>
          <% if @user.about  && @user.about.length > 5 %>
            <p><%= @user.about %></p>
          <% else %>
            <% if current_user.id == @user.id %>
              <p>You haven't updated your About Me section of your profile yet! Please go to your <a href="<%= edit_path %>">Profile Editing Page</a> and tell us a bit about yourself!</p>
            <% else %>
              <p>This user has not updated their About Me section.</p>
            <% end %>
          <% end %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
          <h1>My Links</h1>
          <div class="col-xs-12">
            <% has_url = false %>
            <% if @user.facebook_url.length > 0 %>
              <a href="@user.facebook_url" class="fb-icon"><i class="fa fa-facebook-square fa-fw"></i> Facebook</a><br/>
              <% has_url = true %>
            <% end %>
            <% if @user.twitter_url.length > 0 %>
              <a href="@user.twitter_url" class="twtr-icon"><i class="fa fa-twitter-square fa-fw"></i> Twitter</a><br/>
              <% has_url = true %>
            <% end %>
            <% if @user.website_url.length > 0 %>
              <a href="@user.website_url" class="black-link"><i class="fa fa-globe fa-fw"></i> My Website</a>
              <% has_url = true %>
            <% end %>
            <% if has_url == false %>
              <% if @user.id == current_user.id %>
                <p>You have not added any links yet! Please go to your <a href="<%= edit_path %>">Profile Editing Page</a> and let us know where we may find you.</p>
              <% else %>
                <p>This user has not yet added any external links.</p>
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- ./col-lg-9 -->
      </div>
      <!-- /.row -->
      <div class="page-header col-xs-12"></div>
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <% if @trophies.length > 0 %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Trophy Case
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="row">
                  <% @trophies.each do |trophy| %>
                    <div class="col-xs-12">
                      <% if trophy.uniq_id == 1 %>
                        Perfect Score in <%= Game.find(trophy.game_id).name %> with a <%= UserGameLog.where(game_id: trophy.game_id, user_id: @user).reverse.first.score %>
                      <% end %>
                      <% if trophy.uniq_id == 2 %>
                        High Score: <%= Game.find(trophy.game_id).name %> <%= UserGameLog.where(game_id: trophy.game_id, user_id: @user).reverse.first.score %>
                      <% end %>
                      <% if trophy.uniq_id == 3 %>
                        Played all Games!!
                      <% end %>
                    </div>
                  <% end %>
                  <!-- /.col-lg-4 (nested) -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
          <% end %>
          <!-- /.panel -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Game Play History
              <div class="pull-right">
                <a href="<%= '/games/' + @rng_game.to_s %>" class="btn btn-default btn-xs">Random Game</a>
              </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">
                  <% if @history.length > 0 %>
                    <% @history.first(10).each do |historylog| %>
                      <%= historylog %></br>
                    <% end %>
                  <% else %>
                    <% if current_user.id == @user.id %>
                      <p>You haven't played any games yet!</p>
                      <p>Visit the <a href="<%= games_path %>">Games Listing Page</a> to check out some you may enjoy!</p>
                    <% else %>
                      <p>This user hasn't played any games yet. Leave them a shout and challenge them!</p>
                    <% end %>
                  <% end %>
                </div>
                <!-- /.col-lg-4 (nested) -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <% if user_signed_in? && current_user.username == @user.username %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Notifications Panel
              </div>
              <!-- /.panel-heading -->
            <div class="panel-body">
              <% if @unread.length > 0 || @display.length > 0 %>
                <div class="list-group">
                  <% @unread.first(5).each do |notify| %>
                  <a href="<%= notifications_path %>" class="list-group-item" style="height: 50px;background:lemonchiffon;">
                    <i class="fa fa-<%=notify.image_convert%> fa-fw"></i> <%= notify.title %>
                    <span class="pull-right text-muted small"><em><%= notify.formatted_ago %></em></span>
                  </a>
                  <% end %>
                  <% @display.each do |notify| %>
                    <a href="<%= notifications_path %>" class="list-group-item" style="height: 50px;">
                      <i class="fa fa-<%=notify.image_convert%> fa-fw"></i> <%= notify.title %>
                      <span class="pull-right text-muted small"><em><%= notify.formatted_ago %></em></span>
                    </a>
                  <% end %>
                </div>
                <!-- /.list-group -->
                <a href="<%= notifications_path %>" class="btn btn-default btn-block">View All Alerts</a>
              <% else %>
                <p>You have no Notifications. :(</p>
                <p>Visit <a href="<%= '/games/' + @rng_game.to_s %>">any game</a> to get your first notification!</p>
              <% end %>
            </div>
            <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
          <% end %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-comments fa-fw"></i>
              Shoutbox
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <% if @user.shouts.length > 0 %>
                <ul class="chat">
                  <% @user.shouts.first(5).each_with_index do |shout, pos| %>
                    <% @thatuser = User.find(10) %>
                    <% if pos.odd? %>
                      <div class="shout-wrapper">
                        <li class="left clearfix">
                          <span class="chat-img pull-left">
                            <img src="<%= @thatuser.ava %>" alt="User Avatar" class="img-circle" />
                          </span>
                          <div class="chat-body clearfix">
                            <div class="header">
                              <strong class="primary-font"><%= @thatuser.username %></strong>
                              <small class="pull-right text-muted">
                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                              </small>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.</p>
                          </div>
                        </li>
                      </div>
                    <% else %>
                      <div class="shout-wrapper">
                        <li class="right clearfix">
                          <span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                          </span>
                          <div class="chat-body clearfix">
                            <div class="header">
                              <small class=" text-muted">
                                <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                              <strong class="pull-right primary-font">Bhaumik Patel</strong>
                            </div>
                            <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                          </div>
                        </li>
                      </div>
                    <% end %>
                  <% end %>
                </ul>
                <a href="#" class="btn btn-default btn-block">View All Shouts</a>
              <% else %>
                <% if current_user.id == @user.id %>
                  <p>You have no shouts. :(</p>
                  <p>Try leaving a shout on somebody else's profile to make some friends!</p>
                <% else %>
                  <p>This user doesn't have any shouts yet! Leave them their first!</p>
                <% end %>
              <% end %>
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
              <!-- <div class="input-group"> -->
              <span class="input-group-btn">
                <span class="btn btn-warning btn-sm" id="btn-chat" style="margin-left: 80%;">
                  <div id="btn-input">Shout it!</div>
                </span>
              </span>
              <textarea id="shout-area"
                        type="text"
                        class="form-control input-sm"
                        placeholder='<%= "Leave a shout for " + @user.username.capitalize %>'
                        rows="4"
                        cols="50"></textarea>
              <!-- </div> -->
            </div>
            <!-- /.panel-footer -->
          </div>
          <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
  </div>
  <!-- #homepage -->
</div>
<!-- /#wrapper -->
