<%= javascript_tag do %>
  window.score_low = <%= Game.find(@game.id).detailscore.first %>
  window.score_high = <%= Game.find(@game.id).detailscore.last %>
<% end %>
<div id="cheat-page">
  <span id="title"><%= @game.name %></span>
    <br/>
    <br/>
  <form>
    Score: <input type="text" score="score" id="cheatinput" autofocus, autocomplete="off">
    <br/>
    <br/>
    <div id="pullscore">Random Score</div>
  </form>
  <%= Game.find(@game.id).detailscore %>
</div>
