<div id="wrapper">
  <div id="homepage">
      <div id="page-wrapper">
          <div class="row">
              <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
                  <h1 class="page-header"><%= @game.name.capitalize %></h1>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                  <%= link_to "play/" + params[:id] do %>
                    <% if user_signed_in? %>
                      <h1 class="game-header-btn" id="coin-inline">
                        Play Now!
                    <% else %>
                      <h1 class="game-header-btn" id="bland">
                        Sign In
                    <% end %>
                      </h1>
                  <% end %>
              </div>
              <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
          <div class="row">
            <%= image_tag(@game.ava, id: "avatar", class: "col-lg-3 col-md-4 col-sm-4 col-xs-4") %>
              <div id='user-favorites-div'>
                <%# render partial: 'user_favorite_games', locals: { user: @game, url: :show } %>
              </div>
              <div id='game-modal-div'>
                  <!-- Place holder for the modal data -->
              </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
              <h1>Description:</h1>
              <p><%= @game.about %></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
              <h1>How to play:</h1>
              <span><%= @game.howto %></span>
          </div>
          <!-- /.row -->
          <div class="page-header col-xs-12"> </div>
          <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                  <% if @trophies.length > 0 %>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Trophy Case
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                        <div class="row">
                          <% @trophies.each do |trophy| %>
                            <div class="col-xs-12">
                              <% if trophy.uniq_id == 1 %>
                                Perfect Score by <%= User.find(trophy.user_id).username %> with a <%= UserGameLog.where(user_id: trophy.user_id, game_id: @game).reverse.first.score %>
                              <% end %>
                              <% if trophy.uniq_id == 2 %>
                                High Score: <%= User.find(trophy.user_id).username %> <%= UserGameLog.where(user_id: trophy.user_id, game_id: @game).reverse.first.score %>
                              <% end %>
                            </div>
                          <% end %>
                          <!-- /.col-lg-4 (nested) -->
                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                  <% end %>
                  <!-- /.panel -->
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <i class="fa fa-bar-chart-o fa-fw"></i> Game Play History
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-lg-12">
                                <% if @history.length > 0 %>
                                  <% @history.first(10).each do |history| %>
                                    <p><%= link_to history.user.username, user_path(history.user_id) %> got a <%= history.score %> in <%= link_to history.game.name, game_path(history.game_id) %> - <%= history.formatted_ago %></p>
                                  <% end %>
                                <% else %>
                                  <p>Nobody has played this game yet! Be the first. :)</p>
                                <% end %>
                              </div>
                              <!-- /.col-lg-4 (nested) -->
                          </div>
                          <!-- /.row -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
              </div>
              <!-- /.col-lg-8 -->
              <div class="col-md-4 col-sm-6 col-xs-12">

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <i class="fa fa-comments fa-fw"></i>
                          Shoutbox
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                          <ul class="chat">
                        <% if @game.shouts.length > 0 %>
                            <% @game.shouts.first(5).each_with_index do |shout, pos| %>
                              <%= render :partial => 'users/shoutmessage', locals: {shoutIndex: Shout.where(game_id: @game.id)[pos], pos: pos + 1} %>
                            <% end %>
                          </ul>
                          <a href="#" class="btn btn-default btn-block">View All Shouts</a>
                        <% else %>
                          <p>No shouts have been left on this game yet.</p>
                        <% end %>
                      </div>
                      <!-- /.panel-body -->
                      <div class="panel-footer">
                        <!-- <div class="input-group"> -->
                        <span class="input-group-btn">
                          <span class="btn btn-warning btn-sm" id="btn-chat" style="margin-left: 80%;">
                            <%= link_to shout_path(@game.id), remote: true do %>
                              <div id="btn-input">Shout it!</div>
                            <% end %>
                          </span>
                        </span>
                        <textarea id="shout-area"
                                  type="text"
                                  class="form-control input-sm"
                                  placeholder='<%= "Leave a shout for " + @game.name %>'
                                  rows="4"
                                  cols="50"></textarea>
                        <!-- </div> -->
                      </div>
                      <!-- /.panel-footer -->
                  </div>
                  <!-- /.panel .chat-panel -->
              </div>
              <!-- /.col-lg-4 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /#page-wrapper -->
  </div>
  <!-- #homepage -->
</div>
<!-- /#wrapper -->
