<%= javascript_tag do %>
  window.currentGame = '<%= @game.id %>'
<% end %>

<div id="wrapper">
  <div id="homepage">
    <div id="page-wrapper">
      <div class="row"><!-- Header-Game name -->
        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
          <h1 class="page-header"><%= @game.name %></h1>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
            <%= link_to "play/" + params[:id] do %>
              <% if user_signed_in? %>
                <h1 class="btn btn-success page-header pull-right btn-lg" id="coin-iline">
                  Play Now!
              <% else %>
                <h1 class="btn btn-danger page-header pull-right" id="blad">
                  Sign In to play
              <% end %>
                </h1>
            <% end %>
        </div>
      </div>
      <div class="row"><!-- Underneath -->
        <div class="col-md-4 col-sm-6 col-xs-12"><!-- Left Column -->
          <%= image_tag(@game.ava, id: "avatar") %>
          <div class="row"> <!-- About -->
            <h1>Description</h1>
            <p><%= @game.about %></p>
          </div>
          <!-- /About -->
          <div class="row"><!-- Howto -->
           <h1>How to play</h1>
           <p><%= @game.howto %></p>
          </div>
          <!-- /Howto -->
        </div>
        <!-- /Left Column -->
        <div class="col-md-8 col-sm-6 col-xs-12"> <!-- Right Column -->
          <div class="row"> <!-- Trophies/History - Shouts -->
            <div class="col-md-6 col-xs-12">
              <% if @trophies.length > 0 %> <!-- Trophies -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Trophy Case
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <% @trophies.each do |trophy| %>
                        <div class="col-xs-12">
                          <% if trophy.uniq_id == 1 %> 
                            <i class='fa fa-trophy fa-2x' style= 'color:gold;'></i
                            > Perfect Score by <%= link_to User.find(trophy.user_id).username, user_path(trophy.user_id) %> with a <%= UserGameLog.where(user_id: trophy.user_id, game_id: @game).reverse.first.score %>
                          <% end %>
                          <% if trophy.uniq_id == 2 %>
                            <i class='fa fa-trophy fa-2x' style= 'color:gold;'></i
                            > High Score: <%= link_to User.find(trophy.user_id).username, user_path(trophy.user_id) %> <%= UserGameLog.where(user_id: trophy.user_id, game_id: @game).reverse.first.score %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                    <!-- /row -->
                  </div>
                  <!-- /.panel-body -->
                </div>
              <% end %>
              <div class="panel panel-default"><!-- History -->
                <div class="panel-heading">
                  <i class="fa fa-bar-chart-o fa-fw"></i> Play History
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <% if @history.length > 0 %>
                        <% @history.first(10).each do |history| %>
                          <p><%= link_to history.user.username, user_path(history.user_id) %> got a <%= history.score %> in <%= link_to history.game.name, game_path(history.game_id) %> - <%= history.formatted_ago %></p>
                        <% end %>
                      <% else %>
                        <p>Nobody has played this game yet! Be the first. :)</p>
                      <% end %>
                    </div>
                  </div>
                  <!-- /.row -->
                </div>
                <!-- /.panel-body -->
              </div>
              <!-- /History -->
            </div>
            <!-- /Trophies -->
            <div class="col-md-6 col-xs-12"><!-- Shouts -->
                <%= form_for(:shout, url: gameshout_path, remote: true) do |f| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-comments fa-fw"></i>
                  Shoutbox
                  <%= f.submit "Shout it!", class: "btn btn-success btn-xs pull-right" %>
                </div>
                <!-- /.panel-heading -->
                  <div class="panel-footer">
                      <%= f.text_area :message,
                                      placeholder: "Leave a shout for " + @game.name ,
                                      id: 'shout-area',
                                      class: 'form-control input-sm',
                                      rows: 4,
                                      cols: 50 %>
                  </div>
                <!-- /.panel-footer -->
                <div class="panel-body">
                  <% if @game.shouts.length > 0 %>
                    <ul class="chat">
                      <% @game.shouts.reverse.first(5).each_with_index do |shout, pos| %>
                        <%= render :partial => 'users/shoutmessage', locals: {shoutIndex: shout, pos: pos} %>
                      <% end %>
                    </ul>
                    <a href="/notifications/<%= @game.id %>/gamealerts" class="btn btn-success btn-block">View All Shouts</a>
                  <% else %>
                      <p>This game doesn't have any shouts yet! Leave it the first!</p>
                  <% end %>
                </div>
              <!-- /.panel-body -->
              </div>
                <% end %>
              <!-- /panel-default -->
            </div>
            <!-- /Shouts -->
          </div>
          <!-- /Trophies-History Shouts -->
        </div>
        <!-- /Right Column -->
      </div>
      <!-- /Underneath -->
    </div>
    <!-- /#page-wrapper -->
  </div>
  <!-- #homepage -->
</div>
<!-- /#wrapper -->
