<div id="trophies" style="display:none;">
  <h4>Recent High Scores</h4>
  <li><strong>Today:&nbsp;</strong>
  <span id="scorefont"><%= game.daily.score %></span></li>
  <li><i><%= User.find(game.daily.user_id).username %></i>&nbsp;</li>

  <li><strong>This Week:&nbsp;</strong>
  <span id="scorefont"><%= game.weekly.score %></span></li>
  <li><i><%= User.find(game.weekly.user_id).username %></i>&nbsp;</li>

  <li><strong>This Month:&nbsp;</strong>
  <span id="scorefont"><%= game.monthly.score %></span></li>
  <li><i><%= User.find(game.monthly.user_id).username %></i>&nbsp;</li>

  <li><strong>All-Time:&nbsp;</strong>
  <span id="scorefont"><%= game.alltime.score %></span></li>
  <li><i><%= User.find(game.alltime.user_id).username %></i>&nbsp;</li>
</div>
