<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
	  <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
  	<title>GameHub</title>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	</head>
	<div id="whole-page-container">
		<body>
		  <%= render 'layouts/header' %>
			<%= render 'layouts/messages' %>

			<div id="clicksidebar">
				<div id="sidebaricon"><i class="fa fa-bars fa-lg fa-rotate-90 fa-2x" style=""></i></div>
			</div>

			<div id="columnThree">git 
				<a class="twitter-timeline" href="https://twitter.com/prestonvjohnson" data-widget-id="521787212464025600">Tweets by @prestonvjohnson</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				</script>
			</div>
			<%= yield %>
		</body>
	</div>
	<footer class= "row">
		<ul>
			<li class="col-md-3">About</li>
			<li class="col-md-3">Contact</li>
			<li class="col-md-3">FAQ</li>
			<li class="col-md-3">Weather</li>
		</ul>
	</footer>
</html>
