<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
	  <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
  	<title>GameHub</title>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	</head>
	<div id="whole-page-container">
		<body>
		  <%= render 'layouts/header' %>
			<%= render 'layouts/messages' %>

			<div id="clicksidebar">
				<div id="sidebaricon"><i class="fa fa-bars fa-lg fa-rotate-90 fa-2x" style=""></i></div>
			</div>

			<div id="columnThree">
				Just some filler to take up room and be a place holder for now.
			</div>
			<%= yield %>
		</body>
	</div>
	<footer class= "row">
		<ul>
			<li class="col-md-4">About</li>
			<li class="col-md-4">GameHub Team</li>
			<li class="col-md-4">GameHub &copy 2014</li>

		</ul>
	</footer>
</html>
