<!DOCTYPE html>
<html>
<head>

	<style>
		body {
    	background: #C0C0C0 url("assets/gamehub.png") no-repeat top;
}
	</style>
  <title>Capstone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  
<%= yield %>

</body>
</html>
